Deps/corpora/wordnet.zip
Deps/pretrained_fe/resnet18-f37072fd.pth
Deps/pretrained_fe/resnet50-0676ba61.pth
Deps/pretrained_fe/vit_b_16-c867db91.pth

Results/param/imagenet1k_ss20_fixfe_trail21.pt
Results/param/imagenet1k_ss20_fixfe_trail22.pt
Results/param/imagenet1k_ss20_fixfe_trail23.pt
Results/param/imagenet1k_ss20_fixfe_trail24.pt
Results/param/imagenet1k_ss20_fixfe_trail25.pt
Results/param/imagenet1k_ss20_fixfe_trail26.pt
Results/param/imagenet1k_ss20_fixfe_trail27.pt
Results/param/imagenet1k_ss20_fixfe_trail28.pt
Results/param/imagenet1k_ss20_fixfe_trail29.pt
Results/param/imagenet1k_ss20_fixfe_trail30.pt
Results/param/imagenet1k_ss20_fixfe_trail31.pt
Results/param/imagenet1k_ss20_fixfe_trail32.pt
Results/param/imagenet1k_ss20_fixfe_trail33.pt
Results/param/imagenet1k_ss20_fixfe_trail34.pt
Results/param/imagenet1k_ss20_fixfe_trail35.pt
Results/param/imagenet1k_ss20_fixfe_trail36.pt
Results/param/imagenet1k_ss20_fixfe_trail37.pt
Results/param/imagenet1k_ss20_fixfe_trail38.pt
Results/param/imagenet1k_ss20_fixfe_trail39.pt
Results/param/imagenet1k_ss20_fixfe_trail40.pt
Results/param/imagenet1k_ss20_fixfe_trail41.pt
Results/param/imagenet1k_ss20_fixfe_trail42.pt
Results/param/imagenet1k_ss20_fixfe_trail43.pt
Results/param/imagenet1k_ss20_fixfe_trail44.pt
Results/param/imagenet1k_ss20_fixfe_trail45.pt
Results/param/imagenet1k_ss20_fixfe_trail46.pt
Results/param/imagenet1k_ss20_fixfe_trail47.pt
Results/param/imagenet1k_ss20_fixfe_trail48.pt
Results/param/imagenet1k_ss20_fixfe_trail49.pt
Results/param/imagenet1k_ss20_fixfe_trail50.pt

Results/log/imagenet1k_ss20_fixfe_trail21.log
Results/log/imagenet1k_ss20_fixfe_trail22.log
Results/log/imagenet1k_ss20_fixfe_trail23.log
Results/log/imagenet1k_ss20_fixfe_trail24.log
Results/log/imagenet1k_ss20_fixfe_trail25.log
Results/log/imagenet1k_ss20_fixfe_trail26.log
Results/log/imagenet1k_ss20_fixfe_trail27.log
Results/log/imagenet1k_ss20_fixfe_trail28.log
Results/log/imagenet1k_ss20_fixfe_trail29.log
Results/log/imagenet1k_ss20_fixfe_trail30.log
Results/log/imagenet1k_ss20_fixfe_trail31.log
Results/log/imagenet1k_ss20_fixfe_trail32.log
Results/log/imagenet1k_ss20_fixfe_trail33.log
Results/log/imagenet1k_ss20_fixfe_trail34.log
Results/log/imagenet1k_ss20_fixfe_trail35.log
Results/log/imagenet1k_ss20_fixfe_trail36.log
Results/log/imagenet1k_ss20_fixfe_trail37.log
Results/log/imagenet1k_ss20_fixfe_trail38.log
Results/log/imagenet1k_ss20_fixfe_trail39.log
Results/log/imagenet1k_ss20_fixfe_trail40.log
Results/log/imagenet1k_ss20_fixfe_trail41.log
Results/log/imagenet1k_ss20_fixfe_trail42.log
Results/log/imagenet1k_ss20_fixfe_trail43.log
Results/log/imagenet1k_ss20_fixfe_trail44.log
Results/log/imagenet1k_ss20_fixfe_trail45.log
Results/log/imagenet1k_ss20_fixfe_trail46.log
Results/log/imagenet1k_ss20_fixfe_trail47.log
Results/log/imagenet1k_ss20_fixfe_trail48.log
Results/log/imagenet1k_ss20_fixfe_trail49.log
Results/log/imagenet1k_ss20_fixfe_trail50.log

**/datafile/
**/__pycache__/

A03_Communications/B01_SEA_Net/ni=1.00e-01_r=0/checkpoint/ckpt_dim_20_whole.pth
A03_Communications/B01_SEA_Net/ni=1.00e-01_r=0/contexts/context_r_0_e_1999.mat

A03_Communications/B02_Communication_Game/2025-06-02/checkpoint/
A03_Communications/B02_Communication_Game/2025-06-02/contexts/
A03_Communications/B02_Communication_Game/Symbol_and_Model_of_Listener/checkpoint/
A03_Communications/B02_Communication_Game/Symbol_and_Model_of_Listener/contexts/
A03_Communications/B02_Communication_Game/Symbols_of_Speaker
A03_Communications/B02_Communication_Game/Testing_Symbols_of_Speaker

A04_Word2Vec/ni=5.00e-02/checkpoint/
A04_Word2Vec/ni=5.00e-02/contexts/


Results/entropy_stat/Imagenet1k_test_stat_seanet50_trainedConfig.pt
Results/entropy_stat/Imagenet1k_test_stat_tsnet_randomConfig.pt
Results/entropy_stat/seanet_init_onehotconcept_waffle.pt
Results/entropy_stat/seanet50_onehotconcept_waffle.pt

Results/FeatureData/ImageNet1k_test_embeddings.pt
Results/FeatureData/ImageNet1k_test_indices.pt
